{layout name="base" /}
<div class="main-content">
			<div class="main-content-inner">
				<div class="breadcrumbs" id="breadcrumbs">
					<ul class="breadcrumb">
						<li>
							<i class="ace-icon fa fa-home home-icon"></i>
							<a href="{:url('/')}">首页</a>
						</li>
						<li class="active">控制台</li>
				</div>
				<div class="page-content">
					<div class="alert alert-block alert-success">
						<button type="button" class="close" data-dismiss="alert">
							<i class="ace-icon fa fa-times"></i>
						</button>
						欢迎使用办公管理系统。
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="row">
								<div id="accordion-sysinfo" class="accordion-style1 panel-group col-sm-3">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-sysinfo" href="#sysinfo">
													<i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>&nbsp;站点信息
												</a>
											</h4>
										</div>
										<div class="panel-collapse collapse in" id="sysinfo">
											<div class="panel-body">
												<p>PHP版本：5.6.31，MySQL版本：5.6.35-log</p>
												<p>服务器：Windows NT</p>
												<p>PHP运行方式：apache2handler</p>
												<p>服务器IP：127.0.0.1</p>
												<p>程序版本：1.1</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>