<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let item of imgs"><img src="{{item}}" alt=""></div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
</div>
<h2>电台</h2>
<div class="content">
    <div>
        <img src="../../../assets/images/1_1.jpg" alt="">
        <p>热歌</p>
    </div>
    <div>
        <img src="../../../assets/images/1_2.jpg" alt="">
        <p>一人一首招牌歌</p>
    </div>
</div>
<h2 class="h21">热门歌单</h2>
<div class="ph">
    <a href="javascript:;">去客户端发现更多好音乐 ></a>
</div>
<div class="pc">
    <a href="javascript:;">查看电脑版网页</a>
</div>
<div class="logofo">
    <img src="../../../assets/images/logo_footer.png" alt="">
</div>
<p class="copyright">Copyright © 1998 - <span id="js_cpright_year">2018</span> Tencent. All Rights Reserved.</p>
<p id="js_iosinfo" class="copyright">联系电话：0755-86013388 QQ群：55209235</p>