.indexMain{
    padding: 30px 0 80px;
}
.indexMain .pic{
    display: inline-block;
    width: 819px;
    height: 350px;
    margin: 30px 30px 30px 0;
    background: darkolivegreen;
}
.indexMain .mail{
    display: inline-block;
    width: 351px;
    height: 350px;
    margin-top: 30px;
    /* background-color: royalblue; */
    float: right;
}
.indexMain .sign{
    padding: 28px 52px;
    background: #fff;
    border-bottom: 1px solid #f1f1f1;
}
.indexMain .sign span{
    display: block;
    text-indent: 61px;
    cursor: pointer;
    width: 247px;
    height: 52px;
    line-height: 52px;
    font-size: 24px;
    color: #fff;
    background: url(../images/indexsprite.png) 33px -50px no-repeat #ff4400 ;
}
.indexMain .mail .news{
    padding: 15px 52px 0;
    background-color: #fff;
}
.indexMain .mail .news .newstitle{
    text-indent: 42px;
    background: url(../images/indexsprite.png) 0px -104px no-repeat;
}
.indexMain .mail .news ul{
    background: url(../images/newsbg.png) 11px -6px no-repeat;
    padding-left: 35px;
}
.indexMain .mail .news ul .firstnews{
    margin-top: 7px;
}
.indexMain .mail .news ul li{
    height: 28px;
    line-height: 28px;
}
.indexMain .mail .news ul li a:hover{
    color: #ff4400;
}
.indexMain .mail .news .contact_us{
    padding: 13px 14px 36px;
    width: 247px;
    height: 28px;
}
.indexMain .mail .news .contact_us .qq{
    cursor: pointer;
    display: inline-block;
    width: 78px;
    height: 28px;
    padding-left: 15px;
    background: url(../images/indexsprite.png) 0px -135px no-repeat;
    float: left;
    border: 1px solid #f1f1f1;
}
.indexMain .mail .news .contact_us .weibo{
    cursor: pointer;
    display: inline-block;
    width: 78px;
    height: 28px;
    padding-left: 30px;
    background: url(../images/indexsprite.png) 0px -163px no-repeat;
    float: right;
    border: 1px solid #f1f1f1;
}
.indexMain .mail .news .contact_us .qq a{
    display: block;
    height: 28px;
    line-height: 28px;
    text-indent: 20px;
    float: left;
    font-size: 15px;
}
.indexMain .mail .news .contact_us .weibo a{
    display: block;
    height: 28px;
    line-height: 28px;
    text-indent: 10px;
    float: left;
    font-size: 15px;
}
.indexMain .mail .news .contact_us a:hover{
    color: #ff4400;
}

.indexMain .more .items{
    display: inline-block;
    width: 819px;
    height: 869px;
    margin-right: 29px;
    margin-bottom: 20px;
    background-color: #fff;
}
.indexMain .more .items .item1{
    width: 770px;
    height: 37px;
    padding:15px 25px 0;
    border-bottom: 2px solid #f1f1f1;
    position: relative;
}
.indexMain .more .items .item1 .item1logo{
    width: 26px;
    height: 28px;
    display: inline-block;
    background: url(../images/other.png) -1px -118px no-repeat;
    vertical-align: -17%;
}
.indexMain .more .items .item1 .xline{
    display: inline-block;
    width: 97px;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 25px;
    background-color: #ff4400;
}
.indexMain .more .items .item1 p{
    float: left;
}
.indexMain .more .items .itemright{
    width: 51px;
    height: 37px;
    margin-right: 25px;
    float: right;
}
.indexMain .more .items .itemright a{
    display: inline-block;
    width: 51px;
    height: 37px;
    font: 12px/37px "微软雅黑";
    color: #969696;
}
.indexMain .more .items .itemright a:hover{
    color: #ff4400;
}
.indexMain .more .items #recommend{
    margin-top: 25px;
    width: 795px;
    margin-left: 2px;
    margin-left: 25px;
}
.indexMain .more .items .recommend{
    display: inline-block;
    width: 235px;
    height: 386px;
    margin-right: 27px;
    line-height: 20px;
    position: relative;
    vertical-align: middle;

}
/* .indexMain .more .items .recommend .reimg{
    display: inline-block;
    width: 235px;
    height: 277px;
    overflow: hidden;
    transition: 1s 100ms;
}

.indexMain .more .items .recommend .reimg:hover{
    transform: scale(1.2);
} */
.indexMain .more .items .recommend .reimg img{
    display: block;
    margin: 0;
    border: 1px solid #e9e9e9;
    width: 233px;
    height: 275px;
}
.indexMain .more .items .recommend .reintr{
    margin-bottom: 5px;
}
.indexMain .more .items .recommend #reintr{
    font-size: 14px;
    color: #474747;
}
.indexMain .more .items .recommend #reintr:hover{
    color: #ff4400;
} 
.indexMain .more .items .recommend #reintr{
    color: #474747;
}
.indexMain .more .items .recommend p{
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    color: #ff4400;
}
.indexMain .more .scroll{
    display: inline-block;
    width: 351px;
    height: 869px;
    margin-bottom: 20px;
    background-color: #fff;
    float: right;
}
.indexMain .more .scroll .item2{
    width: 315px;
    height: 37px;
    padding:15px 25px 0;
    border-bottom: 2px solid #f1f1f1;
    position: relative;
}
.indexMain .more .scroll .item2 .item2logo{
    width: 26px;
    height: 28px;
    display: inline-block;
    background: url(../images/other.png) -1px -446px no-repeat;
    vertical-align: -17%;
}
.indexMain .more .scroll .item2 .xline{
    display: inline-block;
    width: 97px;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 25px;
    background-color: #ff4400;
}


.indexMain .more .scroll .exchange{
    height: 869px;
}
.indexMain .more .scroll .exchange .list{
    width: 301px;
    height: 111px;
    padding: 24px 0;
    border-bottom: 1px solid #f1f1f1;
    margin-left: 20px;
}
.indexMain .more .scroll .exchange .list div #exintr{
    display: inline-block;
    float: right;
    margin:19px 34px;
}
.indexMain .more .scroll .exchange .list .eximg{
    display: inline-block;
}
.indexMain .more .scroll .exchange .list .exintr{
    font-size: 13px;
    color: #ff4400;
}
.indexMain .more .scroll .exchange .list .eximg img{
    display: block;
    width: 88px;
    height: 104px;
    border: 1px solid #f1f1f1;
}

.indexMain .mainbottom{
    width: 1200px;
    height: 406px;
    background-color: #fff;
}
.indexMain .mainbottom .item2{
    width: 1151px;
    height: 37px;
    padding:15px 25px 0;
    border-bottom: 2px solid #f1f1f1;
    position: relative;
}
.indexMain .mainbottom .item2 .item2logo{
    width: 26px;
    height: 28px;
    display: inline-block;
    background: url(../images/titicon.png) -21px 3px no-repeat;
    vertical-align: -17%;
}
.indexMain .mainbottom .item2 .xline{
    display: inline-block;
    width: 97px;
    height: 2px;
    position: absolute;
    bottom: -2px;
    left: 25px;
    background-color: #ff4400;
}

.indexMain .mainbottom .item2 .itemright{
    width: 51px;
    height: 37px;
    margin-right: 25px;
    float: right;
}
.indexMain .mainbottom .item2 .itemright a{
    display: inline-block;
    width: 51px;
    height: 37px;
    font: 12px/37px "微软雅黑";
    color: #969696;
}
.indexMain .mainbottom .item2 .itemright a:hover{
    color: #ff4400;
} 
.indexMain .mainbottom .item2 #artical{
    width: 1175px;
    height: 327px;
}
.indexMain .mainbottom .item2 .artical{
    display: inline-block;
    width: 367px;
    height: 327px;
    margin-top: 25px;
    float: left;
    margin-right: 20px;
}

.indexMain .mainbottom .item2 .artical .arimg{
    display: block;
    width: 367px;
    height: 229px;
    position: relative;
}
.indexMain .mainbottom .item2 .ar3{
    margin-top: 20px;
}
.indexMain .mainbottom .item2 .artical .arintr{
    display: inline-block;
    float: left;
    font-weight: bold;
    font-size: 16px;
    float: left;
    color:#48494b;
    overflow: hidden;
    width: 77%px;
    height: 30px;
}
.indexMain .mainbottom .item2 .artical .arintr:hover{
    color: #ff4400;
}
.indexMain .mainbottom .item2 .artical #arintr{
    display: inline-block;
    overflow: hidden;
    width: 367px;
}
.indexMain .mainbottom .item2 .artical #arintr b{
    display: inline-block;
    width: 100px;
    float: right;
    font-weight: bold;
    font-size: 16px;
    color: #ff4400;
    height: 30px;
    text-align: right;
}
.indexMain .mainbottom .item2 .artical:hover .arimg b{
    display: block;
}
.indexMain .mainbottom .item2 .arimg b{
    padding: 13px 20px;
    line-height: 22px;
    font-size: 14px;
    font-weight: normal;
    width:327px;
    display: none;
    background: url(../images/op0.85.png);
    position: absolute;
    left: 0;
    bottom: 0;
}