.all .main{
    width: 100%;
}
.all .luckywrap{
    width: 100%;
    text-align: center;
}
.all .luckywrap .lucky1{
    width: 100%;
    height: 478px;
    background: url(../images/lucky1.jpg) no-repeat top center;
    margin: 0 auto;
}
.all .luckywrap .lucky2{
    width: 100%;
    height: 473px;
    margin: 0 auto;
    background: url(../images/lucky2.jpg) no-repeat top center;
}
.all .luckywrap .lucky2 .l2con{
    width: 1200px;
    height: 472px;
    margin: 0 auto;
    position: relative;
}
.all .luckywrap .lucky2 .l2con .login{
    display: inline-block;
    width: 300px;
    height: 200px;
    background: url(../images/lulogin.png);
    position: absolute;
    left: 101px;
    top: 142px;
}
.all .luckywrap .lucky2 .l2con .login:hover{
    background: url(../images/blinglogin.png) no-repeat 21px 15px;
    z-index: 999;
}
.all .luckywrap .lucky2 .l2con .gameintr{
    width: 600px;
    position: absolute;
    left: 515px;
    top: 147px;
}
.all .luckywrap .lucky2 .l2con .gameintr p{
    font-size: 15px;
    line-height: 27px;
    color: #cac2e1;
    text-align: left;
    
}
.all .luckywrap .lucky3{
    width: 100%;
    height: 653px;
    background: url(../images/lucky3.jpg) no-repeat top center;
}
.all .luckywrap .lucky3 .lucky_01{
    width: 596px;
    height: 322px;
    margin-top: -1px;
    position: relative;
    /* margin-left: 214px; */
}
.all .luckywrap .lucky3 .lucky_01 img{
    position: absolute;
    top: 112px;
    left: 369px;
}
.all .luckywrap .lucky3 .lucky_02{
    width: 395px;
    height: 383px;
    position: relative;
}
.all .luckywrap .lucky3 .lucky_02 img{
    position: absolute;
    top: -257px;
    left: 991px;
}
.all .luckywrap .lucky3 .lucky_03{
    width: 294px;
    height: 111px;
    position: relative;
} 
.all .luckywrap .lucky3 .lucky_03 img{
    position: absolute;
    top: -235px;
    left: 731px;

    cursor: pointer;
}

 .all .luckywrap .lucky3 .lucky_04{
    width: 374px;
    height: 99px;
    position: relative;
} 
.all .luckywrap .lucky3 .lucky_04 img{
    position: absolute;
    top: -357px;
    left: 1025px;
    cursor: pointer;
}

.all .luckywrap .lucky4wrap{
    width: 100%;
    height: 349px;
    background: url(../images/lucky4.jpg) no-repeat top center;
}
.all .luckywrap .lucky4{
    width: 1200px;
    position: relative;
    margin: 0 auto;
}
.all .luckywrap .lucky4 .l4left{
    display: inline-block;
    width: 480px;
    height: 150px;
    text-align: center;
    position: absolute;
    top: 127px;
    left: 57px;
}
.all .luckywrap .lucky4 .l4left p{
    color:#bb9dd9;
    font-size: 14px;
}
.all .luckywrap .lucky4 .l4left b{
    font-weight: normal;
    color: #dbdbba;
    font-size: 14px;
}
.all .luckywrap .lucky4 .l4right {
    width: 420px;
    float: right;
    position: absolute;
    top: 172px;
    right: 90px;
}
.all .luckywrap .lucky4 .l4right a{
    display: inline-block;
    width: 70px;
    height: 70px;
}
.all .luckywrap .lucky4 .l4right .r1{
    background: url(../images/a1.png) no-repeat center center;
}
.all .luckywrap .lucky4 .l4right .r2{
    background: url(../images/a2.png) no-repeat center center;
}
.all .luckywrap .lucky4 .l4right .r3{
    background: url(../images/a3.png) no-repeat center center;
}
.all .luckywrap .lucky4 .l4right .r4{
    background: url(../images/a4.png) no-repeat center center;
}
.all .luckywrap .lucky4 .l4right .r5{
    background: url(../images/a5.png) no-repeat center center;
}

.all .luckywrap .lucky5wrap{
    width: 100%;
    height: 497px;
    background: url(../images/lucky5.jpg) no-repeat top center;
}
.all .luckywrap .lucky5{
    width: 1200px;
    position: relative;
    margin: 0 auto;
}
.all .luckywrap .lucky5 .l5right{
    width: 170px;
    height: 170px;
    position: absolute;
    top: 111px;
    left: 91px;
    background: url(../images/tx.png) no-repeat;
}
.all .luckywrap .lucky5 .l5right img{
    width: 120px;
    height: 120px;
    margin-top: 21px;
    margin-left: -3px;
}
.all .luckywrap .lucky5 .l5text{
    color: #dbdbdb;
}
.all .luckywrap .lucky5 .l5text b{
    display: inline-block;
    width: 1000px;
    font-size: 20px;
    line-height: 60px;
    margin-top: 100px;
    margin-left: 0;
}
.all .luckywrap .lucky5 .l5text p{
    display: inline-block;
    margin-top: 3px;
    margin-left: 181px;
    width: 800px;
    font-size: 15px;
    line-height: 40px;
    text-align: left;
}
.all .luckywrap .lucky5 .button{
    width: 239px;
    height: 96px;
    cursor: pointer;
    margin-top: 24px;
    margin-left: 475px;
}
.footerall .footer .footleft .foot1 .us{
    width: 92px;
}
.footerall .footer .footleft .foot1 .us span{
    width: 83px;
}