.all .main{
    width: 100%;
}
.all .paiMain .firstwrap{
    width: 100%;
    height: 570px;
    background: url(../images/paihead_bg.jpg) no-repeat top center;
}
.all .paiMain .first{
    width: 1200px;
    height: 570px;
    position: relative;
}
.all .paiMain .first .step{
    display: inline-block;
    width: 156px;
    height: 60px;
    text-align: center;
    line-height: 58px;
    color: #471a13;
    font-size: 22px;
    font-weight: bold;
    background: url(../images/head_btn.png) no-repeat;
}
.all .paiMain .first .step1{
    position: absolute;
    top: 343px;
    right: 0;
}
.all .paiMain .first .step2{
    position: absolute;
    top: 414px;
    right: 0;
}
.all .paiMain .secondwrap{
    width: 100%;
    height: 728px;
    background: url(../images/pai_secondbj.jpg) no-repeat top center;
}
.all .paiMain .second{
    width: 1200px;
    height: 728px;
    position: relative;
    margin: 0 auto;
}
.all .paiMain .second .articallist{
    width: 1200px;
    padding-top: 147px;
    margin: 0 auto;
}
.all .paiMain .second .artical{
    width: 1200px;
    margin: 0 auto;
}
.all .paiMain .second .artical li{
    width: 248px;
    height: 468px;
    border: 1px solid #fff;
    margin: 0px 25px 0px 25px;
    /* padding: 25px; */
    background-color: #fff;
    float: left;
}
.all .paiMain .second .artical li:hover{
    border: 1px solid #c8c8c8;
}
.all .paiMain .second .artical li .arimg{
    display: inline-block;
    margin-top: 26px;
    margin-left: 26px;
    margin-right: 26px;
}
.all .paiMain .second .articallist .artical .arintr{
    display: inline-block;
    width: 200px;
    height: 54px;
    line-height: 54px;
    border-bottom: 1px dashed #dedcdc;
    font-size: 16px;
    color: #474747;
    font-weight: bold;
    margin-left: 25px;
}
.all .paiMain .second .articallist .artical .arintr:hover{
    color: #f40;
}
.all .paiMain .second .artical li i{
    display: inline-block;
    margin-left: 25px;
    margin-top: 10px;
    font-style: normal;
    color: #474747;
    font-size: 14px;
}
.all .paiMain .second .artical li i+span{
    color: #f40;
    font-size: 14px;

}
.all .paiMain .second .artical li p{
    display: inline-block;
    margin-top: 10px;
    margin-left: 25px;
    color: #474747;
    font-size: 14px;
}
.all .paiMain .second .artical li input{
    cursor: pointer;
    display: block;
    width: 157px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    background-color: #f40;
    color: #fff;
    border: 0;
    margin: 20px auto 0;
}

.all .paiMain .third{
    width: 100%;
    height: 725px;
    background: url(../images/review_bj.jpg) no-repeat top center;
}
.all .paiMain .reviewwrap{
    width: 1200px;
    height: 725px;
    position: relative;
    margin: 0 auto;
}
.all .paiMain .reviewwrap #review{
    width: 1140px;
    height: 455px;
    margin: 0 auto;
    position: absolute;
    top: 200px;
    left: 20px;
    background-color: #ffe642;
}
.all .paiMain .reviewwrap .review{
    width: 1086px;
    margin: 0 auto;   
}
.all .paiMain .reviewwrap .review li{
    width: 233px;
    height: 368px;
    border: 1px solid #fff;
    margin: 40px 0px 0px 25px;
    /* padding: 25px; */
    background-color: #fff;
    float: left;
}
.all .paiMain .reviewwrap .review li:hover{
    border: 1px solid #c8c8c8;
}
.all .paiMain .reviewwrap .review li .arimg{
    display: inline-block;
    margin-top: 18px;
    margin-left: 19px;
    margin-right: 26px;
}
.all .paiMain .reviewwrap .review li .arintr{
    display: inline-block;
    width: 200px;
    height: 40px;
    line-height:30px;
    border-bottom: 1px dashed #dedcdc;
    font-size: 14px;
    color: #474747;
    margin-left: 25px;
}
.all .paiMain .reviewwrap .review li .arintr:hover{
    color: #f40;
}
.all .paiMain .reviewwrap .review li i{
    display: inline-block;
    margin-left: 25px;
    margin-top: 10px;
    font-style: normal;
    color: #474747;
    font-size: 14px;
}
.all .paiMain .reviewwrap .review li i+span{
    color: #f40;
    font-size: 14px;

}
.all .paiMain .reviewwrap .review li p{
    display: inline-block;
    margin-top: 10px;
    margin-left: 25px;
    color: #474747;
    font-size: 14px;
}



.all .paiMain .rulewrap{
    width: 100%;
    height: 680px;
    background: url(../images/rule_bj.jpg) no-repeat top center;
}
.all .paiMain .rulewrap .first{
    width: 1252px;
    height: 680px;
    margin-bottom: 200px;
    margin: 0 auto;
}
.all .paiMain .rulewrap .first .weibo{
    display: inline-block;
    width: 415px;
    height: 415px;
    margin-top: 197px;
    margin-left: 93px;
    position: relative;
    background: url(../images/weibo_bj.jpg) no-repeat;
}
.all .paiMain .rulewrap .first .weibo a{
    display: inline-block;
    position: absolute;
    top: 213px;
    left: 24px;
}
.all .paiMain .rulewrap .first .rule{
    display: inline-block;
    float: right;
    margin-top: 200px;
    margin-left: 45px;
    width: 687px;
    height: 405px;
    padding: 5px 0;
    background: url(../images/ruletext_bj.jpg) no-repeat;
}
.all .paiMain .rulewrap .first .rule p{
    width: 610px;
    line-height: 27px;
    font-size: 14px;
    color: #474747;
    margin: 0 auto;
}