.signMain{
    width: 100%;
    overflow: hidden;
    background-color: #f5f5f5;
}
.signMain .signtit{
    display: block;
    width: 729px;
    height: 72px;
    margin: 0 auto;

}
.signMain .signtit .left{
    display: inline-block;
    width: 230px;
    float: left;
    margin-top: 20px;
}
.signMain .signtit .left a{
    display: inline-block;
    width: 228px;
    height: 42px;
}
.signMain .signtit .right{
    display: inline-block;
    width: 350px;
    height: 29px;
    float: right;
    margin-top: 30px;
}
.sign{
    width: 729px;
    height: 100%;
    overflow: hidden;
    margin-bottom: 58px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border: 1px solid #e0e0e0;
}
.sign .img{
    margin: 30px 32px 40px;
}
.sign .login{
    width: 663px;
    height: 76px;
    margin:0 30px 32px 32px;
    background: url(../images/login_banner.jpg) no-repeat 0px 0px;
}
.sign .login a{
    display: inline-block;
    width: 200px;
    height: 45px;
    float: right;
    margin: 15px 15px 16px 0; 
}
.sign .classlist{
    margin-left: 32px;
    margin-right: 32px;
}
.sign .classlist .classbox{
    width: 211px;
    height: 322px;
    float: left;
    margin-right: 9px;
    border-left: 1px dashed #ccc;
}
.sign .classlist .classbox .cbtit1{
    width: 190px;
    height: 90px;
    margin-left: 5px;
    background: url(../images/title_bg_jl.png) no-repeat;
}
.sign .classlist .classbox .cbtit2{
    width: 190px;
    height: 90px;
    margin-left: 5px;
    background: url(../images/title_bg_rw.png) no-repeat;
}
.sign .classlist .classbox .cbtit3{
    width: 190px;
    height: 90px;
    margin-left: 5px;
    background: url(../images/title_bg_kb.png) no-repeat;
}
.sign .classlist .classbox .cbcon b{
    display: block;
    font-style: normal;
    color: #666;
    font-size: 14px;
    font-family: "微软雅黑";
    margin-bottom: 18px;
}
.sign .classlist .classbox .cbcon i{
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    color: #666;
}
.sign .classlist .classbox .cbcon .go{
    font-size: 12px;
    font-style: normal;
    color: #f35000;
}