{layout name="base" /}
<div class="main-content">
	<div class="main-content-inner">
		<div class="breadcrumbs" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="index.html">首页</a>
				</li>
				<li>
					<a href="{:url('admin/permission/index')}">权限管理</a>
				</li>
				<li class="active">新增权限</li>
			</ul>
		</div>
		<div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<form class="form-horizontal" method="post" id="perForm"> 
						<input type="hidden" name="id" />
						<div class="form-group">
							<label class="col-sm-1 control-label no-padding-right" for="form-field-10">上级权限 </label>
							<div class="col-sm-9">
								<select class="rcol-xs-10 col-sm-5" name="pid" required>
									<option value="0" selected="selected">顶级权限</option>
									<!-- 循环权限权限开始 -->
									{foreach name='info' item='val'}
									<option value="{$val['id']}">{$val['rule_name']}</option>
									<!-- 循环上级权限结束 -->
									{/foreach}
								</select>
								<span class="help-inline col-xs-12 col-sm-7">
									<span class="middle"></span>
								</span>
							</div>
						</div>
						<div class="space-4"></div>
						<div class="form-group">
							<label class="col-sm-1 control-label no-padding-right"> 权限名称 </label>
							<div class="col-sm-9">
								<input type="text" class="rcol-xs-10 col-sm-5" name="name" value="" required>
								<span class="help-inline col-xs-12 col-sm-7">
									<span class="middle"></span>
								</span>
							</div>
						</div>
						<div class="space-4"></div>
						<div class="form-group">
							<label class="col-sm-1 control-label no-padding-right"> 链接 </label>
							<div class="col-sm-9">
								<input type="text" placeholder="链接，如：Index/index" class="col-xs-10 col-sm-5" name="address">
								<span class="help-inline col-xs-12 col-sm-7">
									<span class="middle"></span>
								</span>
							</div>
						</div>
						<div class="space-4"></div>
						<div class="form-group">
							<label class="col-sm-1 control-label no-padding-right">ICON图标 </label>
							<div class="col-sm-9">
								<input type="text" placeholder="ICON图标" class="col-xs-10 col-sm-5" name="icon">
								<span class="help-inline col-xs-12 col-sm-7">
									<span class="middle"><a href="http://fontawesome.dashgame.com/" target="_blank">Font Awesome图标库</a></span>
								</span>
							</div>
						</div>
						<div class="space-4"></div>
						<div class="form-group">
							<label class="col-sm-1 control-label no-padding-right"> 排序 </label>
							<div class="col-sm-9">
								<input type="text" placeholder="" class="col-xs-10 col-sm-5" name="sort">
								<span class="help-inline col-xs-12 col-sm-7">
									<span class="middle">越小越靠前</span>
								</span>
							</div>
						</div>
						<div class="space-4"></div>
						<div class="form-group">
							<label class="col-sm-1 control-label no-padding-right"> 是否显示 </label>
							<div class="radio">
								<label>
									<input type="radio" class="ace" name="is_show" checked="1" value="1">
									<span class="lbl"> 显示</span>
								</label>
								<label>
									<input type="radio" class="ace" name="is_show"  value="2">
									<span class="lbl"> 隐藏</span>
								</label>
							</div>
						</div>
						<div class="space-4"></div>
						<div class="form-group">
							<label class="col-sm-1 control-label no-padding-right"> 是否启用 </label>
							<div class="radio">
								<label>
									<input type="radio" class="ace" value="1" name="status" checked="1">
									<span class="lbl"> 启用</span>
								</label>
								<label>
									<input type="radio" class="ace" value="2" name="status">
									<span class="lbl"> 禁用</span>
								</label>
							</div>
						</div>
						<div class="space-4"></div>
						<div class="col-md-offset-2 col-md-9">
							<button class="btn btn-info" type="submit"><i class="icon-ok bigger-110"></i>提交</button>&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset"><i class="icon-undo bigger-110"></i>重置</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	
	$().ready(function() {
	    $("#perForm").validate({
	    	rules:{
	    		rules_name: {
			        required: true,
			        minlength:2,
			        maxlength:30,
			    },
	    	},
	    	messages: {
	    		rules_name:{
	    			required:"用户组名称不能为空！",
	    			minlength:"用户组名称不能少于2个字符！",
	    			maxlength:"用户组名称不能多于30个字符！",
	    		}
	    	}
	    });
	});

</script>