li {
    list-style: none;
    width: 96%;
    background-color: #fff;
    margin: 10px auto 10px;
    overflow: hidden;
}

li div:first-of-type {
    display: inline-block;
    height: 28%;
    width: 28%;
    float: left;
}

li div:first-of-type a {
    display: block;
}

li div:first-of-type a img {
    width: 100%;
}

li div:nth-of-type(2) {
    position: relative;
}

li div:nth-of-type(2) {
    left: 13px;
}

li div:nth-of-type(2) h3 {
    font-size: 16px;
    color: #000;
    font-weight: normal;
    margin-top: 13px;
    margin-bottom: 1px;
}

li div:nth-of-type(2) .content a>p {
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
    width: 60%;
    line-height: 1.3;
    white-space: nowrap;
    text-overflow: ellipsis;
}

li div:nth-of-type(2) .content a>p>.text_name {
    color: #000;
    margin-left: 8px;
    margin-right: 5px;
}